<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="layout">
    <h1> Dream Diary</h1>
    <ul>
    <% todos.forEach( el => { %>
        
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='date'>Added on: <%= el.createdAt.toLocaleString() %></span> <!-- Display the date -->
                <span class='del'> Delete </span>
                <span class='edit'> Edit </span>
            </li>
       
    <% }) %>    
    </ul>

    <h2>You have <%= left %> diary entries <%=  user.userName %></h2>

    <form action="/todos/createTodo" method='POST'>
        <textarea id="dreamDiaryInput" name="todoItem" class="large-input" placeholder="Enter a new dream"></textarea>
        <input type="submit">
    </form>

    <!-- Edit form -->
<!-- Edit form -->
<form id="edit-form" style="display: none;" method="POST" action="/todos/editTodo">
    <input type="hidden" id="edit-id" name="id">
    <label for="edit-content">New Content:</label>
    <textarea id="edit-content" name="updatedContent" required></textarea>
    <button type="submit">Save Changes</button>
</form>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</section>
</body>
</html>